* {
  box-sizing: border-box;
}

html {
  height: 100%;
  overflow-x: hidden;
  background: url('http://res.cloudinary.com/dk85nueap/image/upload/c_scale,w_1024/v1510364356/26892560625_ebfb3ed0ac_k_s6sxou.jpg') no-repeat center center fixed;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* background: radial-gradient(ellipse at center, rgba(219,240,252,1) 0%,rgba(33,133,197,1) 100%);
  background-attachment: fixed; */
  color: #383e44;
}

body a, body a:visited {
  color: #383e44;
}

#root {
  background: radial-gradient(ellipse at center,rgba(66, 134, 244, 0.4) 0, rgba(33, 133, 197, 0.4) 100%);
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
}

footer {
	font-size: 9px;
	margin-top: 10px;
  margin-bottom: 20px;
  position: fixed;
  bottom: -20px;
  width: 100%;
  background: radial-gradient(ellipse at center, rgba(62,69,76,1) 0%,rgba(27,50,73,1));
  padding: 0.25rem;
}

footer p {
  text-align: center;
  color: #FF7F66;
	margin-top: 2px;
	margin-bottom: 2px;
}

footer a, footer a:visited {
  color: #2185C5;
}