# Root
notes
.vscode
*.env

# Server
server/config.py
server/__pycache__
**/*.pyc
server/server.env
server/.cache
server/.vscode
server/notes
server/.coverage
server/celerybeat*
server/*.pid

# Client
client/node_modules
client/public
client/notes
