# Root
notes
.vscode
*.env

# Server
server/config.py
server/__pycache__
**/*.pyc
server/__pycache__/server.cpython-36.pyc
server/server.env
server/.cache
server/.vscode
server/notes
server/.coverage

# Client
client/node_modules
client/public
client/notes
