.WatchHeader {
    max-width: 760px;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;

    display: flex;
    justify-content: space-around;
}

.WatchHeader .thumbnail {
    flex-basis: 10%;
    align-self: center;
    flex-shrink: 0;
}

.WatchHeader .title {
    flex-basis: 70%;
    align-self: center;
}

.WatchHeader .stock {
    flex-basis: 10%;
    color: green;
    align-self: center;
    font-size: 40px;
    padding: 5px;
}

.WatchHeader img {
    width: 100%;
}