.WatchHeader {
    max-width: 760px;
    border: 1px solid black;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;

    display: flex;
    justify-content: space-around;
}

.WatchHeader .thumbnail {
    flex: 0 0 20%;
    align-self: center;
    border: 1px solid red;
    padding: 5px;
}

.WatchHeader .title {
    flex: 0 0 50%;
    align-self: center;
    text-align: left;
    border: 1px solid red;
}

.WatchHeader .stock {
    flex: 0 0 20%;
    color: green;
    align-self: center;
    font-size: 36px;
    border: 1px solid red;
}

.WatchHeader img {
    width: 100%;
}