.Instructions {
    position: fixed;
    bottom: 110px;
    right: 25px;
    border-radius: 5px;
    background-color: rgba(255,246,229,0.7);
    padding: 1rem;
}

.Instructions .plus {
    display: inline-block;
    border: 0.5rem solid #FF7F66;
    border-radius: 100%;
    background-color: #FF7F66;
    color: white;
    width: 2rem;
    height: 2rem;
    font-size: 14px;
}