.WatchBody {
  background-color: rgba(255,246,229,0.7);
  max-width: 760px;
  margin: 0 auto;
  position: relative;
  padding-top: 1rem;
}

.WatchBody .delete {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 30px;
  background-color: rgba(255,246,229,0);
  color: #3E454C;
}
