.Header {
  background: radial-gradient(ellipse at center, rgba(62,69,76,1) 0%,rgba(27,50,73,1));
  padding: 1rem;
}

.Header h1 {
  font-family: 'Roboto Slab', 'Courier New', Courier, monospace;
  color: #FF7F66;
  margin: 0.25rem;
}