.App {
  text-align: center;
}

.App .WatchView {
  margin-bottom: 7rem;
}

.App h2:before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  max-width: 20em;
  white-space: nowrap;
  color: #2185C5;
  animation: loading 8s linear;
}
@keyframes loading {
  0% {
      max-width: 0;
  }
}