.Logout {
  padding: 0.25rem;
}

.Logout span {
  color: #2185C5;
}

.Logout button {
  display: block;
  background-color: #FF7F66;
  border: none;
  border-radius: 5px;
  margin: 0.5rem auto 0 auto;
  font-size: 12px;
}