.ReactModal__Body--open {
  overflow: hidden;
}

.Overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.AddWatchModal {
  position: absolute;
  top: 25px;
  left: 50px;
  right: 50px;
  background: radial-gradient(ellipse at center, rgba(219,240,252,1) 0%,rgba(33,133,197,1) 100%);
  background-attachment: fixed;
  font-size: 40px;
  text-align: center;
  border-radius: 10px;
  height: 500px;
  overflow-y: scroll;
}

@media (min-height: 550px) {
  .AddWatchModal {
    border: 1px solid red;
    overflow-y: hidden;
  }
}
