.Examples h4 {
    font-size: 14px;
    margin-bottom: 0.25rem;
}

.Examples ul {
    font-size: 12px;
    margin-top: 0.25rem;
    margin-left: 0;
    text-align: left;
    list-style: none;
}

/* .Examples button {
    text-align: left;
}

.Examples button:hover {
    color: #FF7F66;
} */